# Python
__pycache__/
*.pyc

# Virtual environments
env/
venv/

# OS files
.DS_Store

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Large / sensitive files (optional)
*.pkl
*.joblib
